@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

html > body {
	font-family: 'TheJamsil5Bold';
}

/* 라이브러리 */
.table-box-type-1 > table {
	width: 100%;
}

.btn-text-link {
	color: blue;
}

.btn-text-link:hover {
	text-decoration: underline;
}

.table-box-type-1 > table th,
.table-box-type-1 > table td {
	border: 1px solid black;
	padding: 10px;
}